@include url("reset.css"); /* Thanks kind stranger */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--background: #302b27;
	--accent: #a1c349;
	--text: #ffffff;
	--link: #db5461;
	padding: 1rem;
	background-color: var(--background);
	color: var(--text);
	text-align: left;
}

h1,
h2,
h3,
p,
a {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

a {
	color: var(--link);
}
